
.idea/
.vs/
ipch/
*CMakeFiles/
bin*/
*Debug/

*.stackdump
*.gch
*.VC.db
*.VC.opendb
*.vcxproj.user

*.exe
?.cpp
??.cpp
??.h
diff*.txt
packages.*
packages/
include/args/
include/gsl/
